@font-face {
    font-family: lazyDog;
    src: url("../fonts/Lazydog.otf");
}

* {
    font-family: lazyDog, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #6367ff;
}

body { 
    background-image: url('../images/pink_bg.jpg');
    background-size: cover;
    text-align: center;
    user-select: none;
    -webkit-app-region: drag;
}

button,
a,
input,
.menu,
.menu *,
.timer-container {
    -webkit-app-region: no-drag;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    width: 170px;
    height: 60px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 28px;
    background-color: rgb(99, 103, 255, 0.7);
    border: 2px solid #c9beff;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
        background-color: #6367ff;
        color: white;
        opacity: 0.9;
        box-shadow: 0px 4px 6px rgba(99, 103, 255, 0.4);
        transform: scale(1.04);
    }
}

.quit-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    scale: 1.0;
    color: rgb(99, 103, 255);

    &:hover {
        color: #6367ff;
        scale: 1.07;
        transition: 100ms ease;
    }
}

.back-btn {
    left: 390px;
}

.hidden {
    display: none;
}

.hide-visibility {
    visibility: hidden;
}